# Lets run on the new infrastructure
sudo: false

language: python
python:
  - "3.5"

services:
 - postgresql

env:
  - DJ=1.8  DB=postgres ARISTOTLE_VERSION=1.6
  - DJ=1.10 DB=postgres ARISTOTLE_VERSION=1.6
  - DJ=1.10 DB=postgres ARISTOTLE_VERSION=develop

before_script:
# We only test elasticsearch, and a small setup time is recommended
  - sleep 10; 
  - psql -c 'create database aristotle_test_db;' -U postgres

install:
  - pip install tox
  - if [[ $DB == postgres ]]; then pip install -q psycopg2 --quiet; fi

# command to run tests
script:
  - tox -e dj$DJANGO_VERSION-test-db-$DB-search-elastic-aristotle-$ARISTOTLE_VERSION --skip-missing-interpreters
after_success:
  - coveralls

matrix:
  allow_failures:
    - env: DJ=1.10 DB=postgres ARISTOTLE_VERSION=develop
